## Data inconsistencies

In [3]:
import pandas as pd

In [75]:
data = {
    "date": ['2021-12-01', '01,12,2022', '2022/12/01', '12-01-2021'],
    "country": ['USA', 'U.S.A', 'America', 'United Stated'],
    'name': ['John Doe', 'Jonh Doe', 'Jane Doe', 'Jane Doe'],
    'sales_2020': [100, 200, None, 200],
    'sales_2021': [None, 150, 300, 150]
}

In [79]:
df = pd.DataFrame(data)

In [80]:
df.head()

         date        country      name  sales_2020  sales_2021
0  2021-12-01            USA  John Doe       100.0         NaN
1  01,12,2022          U.S.A  Jonh Doe       200.0       150.0
2  2022/12/01        America  Jane Doe         NaN       300.0
3  12-01-2021  United Stated  Jane Doe       200.0       150.0

In [55]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
# df['date'] = df['date'].dt.strftime('%d-%m-%Y')
df['date'].fillna(pd.Timestamp('01-12-2021'), inplace=True)

In [56]:
df.head()

        date        country      name  sales_2020  sales_2021
0 2021-01-12            USA  John Doe  100.000000       200.0
1 2021-01-12          U.S.A  Jonh Doe  200.000000       150.0
2 2021-01-12        America  Jane Doe  166.666667       300.0
3 2021-01-12  United Stated  Jane Doe  200.000000       150.0

In [36]:
# mean = df['sales_2020'].mean()
df['sales_2020'].fillna(df['sales_2020'].mean(), inplace=True)
df['sales_2021'].fillna(df['sales_2021'].mean(), inplace=True)

In [37]:
df.head()

        date        country      name  sales_2020  sales_2021
0 2021-12-01            USA  John Doe  100.000000       200.0
1 2021-12-01          U.S.A  Jonh Doe  200.000000       150.0
2 2021-12-01        America  Jane Doe  166.666667       300.0
3 2021-12-01  United Stated  Jane Doe  200.000000       150.0

In [74]:
df['name'].fillna(df['name'].mode())

0    John Doe
Name: name, dtype: object

In [61]:
# Harmonize the name of country
country_mapping = {'USA': 'United States', 'U.S.A': "United States", 'America': 'United States'}
df['country']= df['country'].replace(country_mapping)

In [73]:
df.head()

        date        country      name  sales_2020  sales_2021
0 2021-01-12  United States  John Doe       100.0       200.0

In [70]:
# correct the typographical mistakes in name
# Let's assume we want to correct 'john Doe' to 'jhon Doe'

df['name'] = df['name'].replace({'Jane Doe': 'John Doe'})

C:\Users\Muhammad Zeeshan\AppData\Local\Temp\ipykernel_16476\1598996921.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['name'] = df['name'].replace({'Jane Doe': 'John Doe'})

In [71]:
df.head()

        date        country      name  sales_2020  sales_2021
0 2021-01-12  United States  John Doe       100.0       200.0

In [72]:
# remove duplicates
df= df.drop_duplicates(subset= "name")
df.head()

        date        country      name  sales_2020  sales_2021
0 2021-01-12  United States  John Doe       100.0       200.0

In [82]:
df.head()

         date        country      name  sales_2020  sales_2021
0  2021-12-01            USA  John Doe       100.0         NaN
1  01,12,2022          U.S.A  Jonh Doe       200.0       150.0
2  2022/12/01        America  Jane Doe         NaN       300.0
3  12-01-2021  United Stated  Jane Doe       200.0       150.0

In [84]:
# resolving condtradictory data
#for demonstration, let's assume sale_2021 should always be higher than sales_2020
# we'll remove rows where this condition is not met
df = df.drop(df[df['sales_2021'] <= df['sales_2020']].index)
df.head()

         date  country      name  sales_2020  sales_2021
0  2021-12-01      USA  John Doe       100.0         NaN
2  2022/12/01  America  Jane Doe         NaN       300.0