# Outliers

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame({'age': [20, 21, 22,23, 24, 25, 26, 27, 28, 29, 30, 50]})
data

NameError: name 'pd' is not defined

In [1]:
import matplotlib.pyplot as plt

In [5]:
data.plot
plt.show()

NameError: name 'data' is not defined

In [15]:
# step 3: calculate mean and standard daviation
mean = np.mean(data['age'])
std = np.std(data['age'])

In [16]:
mean

27.083333333333332

In [17]:
std

7.543853274171114

In [18]:
data.describe()

             age
count  12.000000
mean   27.083333
std     7.879298
min    20.000000
25%    22.750000
50%    25.500000
75%    28.250000
max    50.000000

In [19]:
#step 4 calculate the z-score
data['z-score'] = (data['age']-mean)/std

In [20]:
data

    age   z-score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628
11   50  3.037793

In [21]:
data = data[data['z-score'] <=3]

In [22]:
data

    age   z-score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628

## using scipy libraries

In [26]:
from scipy import stats
# Sample data
data = [2.5, 2.7, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0, 110.0]

z_score = np.abs(stats.zscore(data))

#set threshold for identifying outlier
threshold = 2.5
outliers = np.where(z_score<threshold)[0]
data

[2.5, 2.7, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0, 110.0]