# Data Concatenation

In [1]:
# import libraries
import pandas as pd

In [6]:
#Dataset 1:
data1 = {'Name': ['Ahmed', 'fatima', 'ikram'], 'Age':[28,32, 24 ]}
# dataset2
data2 = {'Name': ['sara', 'usman', 'aishu'], 'Age': [42, 38, 22]}
#dataset3
data3 = {'ciy': ['karachi', 'lahore', 'peshawar'], 
         'province': [ 'sindh','punjab', 'kpk']}
data1 = pd.DataFrame(data1)
data2 = pd.DataFrame(data2)
data3 = pd.DataFrame(data3)

# concatenation Rows
data_concat = pd.concat([data1, data2], axis=0 )
data_concat

#concatenation colums wise
data_conc = pd.concat([data_concat, data3], axis=1)
data_conc

     Name  Age       ciy province
0   Ahmed   28   karachi    sindh
1  fatima   32    lahore   punjab
2   ikram   24  peshawar      kpk
0    sara   42   karachi    sindh
1   usman   38    lahore   punjab
2   aishu   22  peshawar      kpk