In [ ]:
# 1. standard scaling
# formula of standard scalling
#z= (x-q)/a

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
# data set example
df = {
    'age': [35,30,45, 40, 45],
    'height': [ 165, 170,175, 180, 185],
    'weight': [55, 60,62, 65, 70]
}
df = pd.DataFrame(df)

In [3]:
df

   age  height  weight
0   35     165      55
1   30     170      60
2   45     175      62
3   40     180      65
4   45     185      70

In [4]:
# import scalar

scalar = StandardScaler()

# fit the scalar on the data
scaled_df = scalar.fit_transform(df)
scaled_df

array([[-0.68599434, -1.41421356, -1.47881742],
       [-1.54348727, -0.70710678, -0.47961646],
       [ 1.02899151,  0.        , -0.07993608],
       [ 0.17149859,  0.70710678,  0.5195845 ],
       [ 1.02899151,  1.41421356,  1.51878546]])

In [5]:
# convert this data into datafram
scaled_df = pd.DataFrame(scaled_df)
scaled_df

          0         1         2
0 -0.685994 -1.414214 -1.478817
1 -1.543487 -0.707107 -0.479616
2  1.028992  0.000000 -0.079936
3  0.171499  0.707107  0.519584
4  1.028992  1.414214  1.518785

In [6]:
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

   age  height  weight
0  NaN     NaN     NaN
1  NaN     NaN     NaN
2  NaN     NaN     NaN
3  NaN     NaN     NaN
4  NaN     NaN     NaN

In [7]:
scaled_df.isnull().sum()

age       5
height    5
weight    5
dtype: int64

## Min max scalar

In [8]:
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler

In [9]:
scalar = MinMaxScaler()

In [10]:
scalar_df = scalar.fit_transform(df)

In [11]:
scalar_df

array([[0.33333333, 0.        , 0.        ],
       [0.        , 0.25      , 0.33333333],
       [1.        , 0.5       , 0.46666667],
       [0.66666667, 0.75      , 0.66666667],
       [1.        , 1.        , 1.        ]])

In [12]:
scalar_df = pd.DataFrame(scalar_df)

In [13]:
scalar_df

          0     1         2
0  0.333333  0.00  0.000000
1  0.000000  0.25  0.333333
2  1.000000  0.50  0.466667
3  0.666667  0.75  0.666667
4  1.000000  1.00  1.000000

## Max ABS scalar

In [14]:
scalar = MaxAbsScaler()
scalar_df = scalar.fit_transform(df)

In [15]:
scalar_df

array([[0.77777778, 0.89189189, 0.78571429],
       [0.66666667, 0.91891892, 0.85714286],
       [1.        , 0.94594595, 0.88571429],
       [0.88888889, 0.97297297, 0.92857143],
       [1.        , 1.        , 1.        ]])

In [18]:
scalar_df = pd.DataFrame(scalar_df,columns=df.columns)

In [19]:
scalar_df

   age  height  weight
0  NaN     NaN     NaN
1  NaN     NaN     NaN
2  NaN     NaN     NaN
3  NaN     NaN     NaN
4  NaN     NaN     NaN